{% extends 'base.html' %} 
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <title>Modifier Chapitre</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js ' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Chargement ...</span>
        </div>
    </div>
<section>
    <div class="rowx">
        <h1 class="wlc2"><b>Modifier un chapitre</b></h1>
    </div>
<div class="container">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="rowx">
    <div class="col-25">
    <label for="id_title">Titre du Chapitre:</label>
    </div>  
    <div class="col-75">
    <input type="text" name="titre" id="id_title" defaultValue="{{ chapter.titre }}" value="{{ chapter.titre }}" required>
    </div>
    </div>

    <div class="rowx">
    <div class="col-25">
    <label for="id_description">Description:</label>
    </div>  
    <div class="col-75">
    <textarea name="desc" id="id_description" defaultValue="{{ chapter.description }}" required>{{ chapter.description }}</textarea>
    </div>
    </div>

    <div class="rowx">
    <div class="col-25">
    <label onclick="vid()">Changer le contenu actuel ?</label>
    </div>
    <div class="col-75">
    <label class="rep" onclick="vid()" id="rep">Oui</label>
    <input type="file" id="contenu" name="contenu" style="visibility:hidden;" accept="application/mp4">
    </div>
    </div>
    <div class="rowx">
        <input type="submit" value="Modifier Chapitre" onclick="return confirm('Voulez-vous modifier ce chapitre ?')">
    </div>
  </form>
</div>
<br>
<center>
{% if chap_mod %}
<script>
    alert("Chapitre modifié avec succès !");
    location.href = "{% url 'homeProf' %}";

</script>
{% endif %}
<script>
   
    function vid(){
        if(document.getElementById("rep").innerHTML == "Oui"){
        document.getElementById("contenu").style.visibility = "visible";
        //document.getElementById("rep").style.visibility = "hidden";
        document.getElementById("rep").innerHTML="Non"
        document.getElementById("rep").style.background="rgb(179, 54, 54)"

        }
        else{
        document.getElementById("contenu").style.visibility = "hidden";
        document.getElementById("rep").innerHTML="Oui"
        document.getElementById("rep").style.background="green"
        }
        
    }
</script>
<button class="ink" onclick="history.back()">Annuler</button>
</center>
</section>
</body>
</html>
{% endblock content %}
